<ion-header>
    <ion-navbar>
        <!--ion-avatar item-start>
            <img name= "profil">
        </ion-avatar-->
        <button ion-button menuToggle>
            <ion-icon name="contact"></ion-icon>
            <!--ion-item class="item item-thumbnail-left" menu-close ui-sref="app.user.profile({objId: userId})">
                <img ng-src="../img/{{user.picProfile}}" style="border-radius:50%;">
                <p><h2>{{user.firstName}} {{user.lastName}}</h2></p>
            </ion-item-->
        </button>
        <ion-title>Beranda</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <!--ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tarik untuk memuat ulang" refreshingSpinner="circles" refreshingText="Memuat..."> </ion-refresher-content>
    </ion-refresher>
    <div text-center *ngIf="!posts">
        <ion-spinner></ion-spinner>
        <p> Memuat data... </p>
    </div-->
   
    <!--ion-list>
        <div *ngFor="let post of posts">
            <ion-card (click)="baca(post.id_artikel)" class="head"> <img *ngIf="post.foto !== null" src="http://cybex.ipb.ac.id/uploads/{{post.foto}}" />
                <ion-card-header> <b class="judul">{{post.subjek}}</b>
                    <p class="info">Oleh: <b>{{post.pengguna_id_pengguna}}</b> <span style="color:#7f8c8d">| {{post.timestamp}}</span></p>
                    <hr> </ion-card-header>
                <ion-card-content>
                    <p class="text" [innerHTML]="post.isi_artikel"></p>
                    <br />
                    <ion-badge item-right secondary>
                        <ion-icon name="eye"></ion-icon> Lihat :</ion-badge>
                    <ion-badge item-right instagram>
                        <ion-icon name="chatbubbles"></ion-icon> Komentar : </ion-badge>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-list-->
    <ion-list>
    <!--ion-card>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked color="primary">Pesan</ion-label>
                    <ion-textarea [(ngModel)]="operasi.pesan" name="pesan" #pesan="ngModel" rows="6" required placeholder="Pesan"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <p ion-text [hidden]="pesan.valid || submitted === false" color="danger" padding-left>
            This field is required
        </p>
    </ion-card-->
    </ion-list>
    <ion-card>
        <ion-item class="item item-thumbnail-left" menu-close ui-sref="app.user.profile({objId:userId})">
            <!--img ng-src="../img/{{user.picProfile}}" style="border-radius: 50%;"-->
            <!--img ng-src="assets/icon/agenda.jpg" style="border-radius: 50%;">
            <p><h2>{{user.firstName}} {{user.lastName}}</h2></p-->
        </ion-item>

        <ion-card-content>
            <p></p>
        </ion-card-content>

        <ion-row>
            <ion-col>
            <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div> Likes</div>
            </button>
            </ion-col>
            <ion-col>
            <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div> Comments</div>
            </button>
            </ion-col>
            <ion-col center text-center>
            <ion-note>
                11h ago
            </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
    
    <ion-fab right bottom>
      <button ion-fab (click)="goToBeranda()"><ion-icon name="create"></ion-icon></button>
    </ion-fab>
 
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingText="Memuat data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>